flows_raspberrypi.json
[{"id":"7114aeff.8fdf8","type":"tab","label":"Door Control"},{"id":"6b7180df.08373","type":"tab","label":"Web Site"},{"id":"f975a5f6.790e58","type":"websocket-listener","z":"","path":"/ws/door","wholemsg":"false"},{"id":"ca11bd91.205dc","type":"rpi-gpio out","z":"7114aeff.8fdf8","name":"Relay","pin":"7","set":"","level":"0","out":"out","x":405,"y":157,"wires":[]},{"id":"d5c6cb6.125bb38","type":"inject","z":"7114aeff.8fdf8","name":"On","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":94,"y":52,"wires":[["99b581c3.2449a"]]},{"id":"99b581c3.2449a","type":"trigger","z":"7114aeff.8fdf8","op1":"1","op2":"0","op1type":"num","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","name":"Trigger","x":233,"y":152,"wires":[["ca11bd91.205dc"]]},{"id":"656bd9c9.dbd168","type":"websocket in","z":"6b7180df.08373","name":"","server":"f975a5f6.790e58","client":"","x":105,"y":95,"wires":[["4c715117.5079e","9c643680.b12cb8","e495340c.2771b8"]]},{"id":"4c715117.5079e","type":"websocket out","z":"6b7180df.08373","name":"","server":"f975a5f6.790e58","client":"","x":488,"y":96,"wires":[]},{"id":"5f851bd8.2c9874","type":"http in","z":"6b7180df.08373","name":"HTTP Request","url":"/door","method":"get","swaggerDoc":"","x":115,"y":273,"wires":[["f4e4c071.5dce8"]]},{"id":"c5772499.9f82f8","type":"http response","z":"6b7180df.08373","name":"HTTP Response","x":506,"y":261,"wires":[]},{"id":"f4e4c071.5dce8","type":"template","z":"6b7180df.08373","name":"Web Site","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<head>\n  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>\n  <meta name=\"apple-mobile-web-app-title\" content=\"Garage\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"apple-mobile-web-app-status-bar-style\" content=\"black\">\n  <title>Garage Door</title>\n  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous'>\n  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css' integrity='sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp' crossorigin='anonymous'>\n  <link rel=\"apple-touch-icon\" href=\"http://www.sleepless.com.au/res/door.png\">\n  <script src='https://code.jquery.com/jquery-3.1.0.min.js' integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=' crossorigin='anonymous'></script>\n  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous'></script>\n</head>\n    \n<body onload=\"wsConnectC();\" onunload=\"ws.disconnect;\">\n  <div class='container'>\n      <h2>Garage Door</h2>\n      <button class='btn btn-lg btn-primary btn-block' name='send_btn' value='Send' onclick=\"sendMessage()\">Activate</button><br>\n      <img src=\"http://www.sleepless.com.au/res/door.png\" class=\"img-responsive center-block\"><br>\n      <div id=\"status\" class=\"text-center\">status unknown</div> \n  </div>\n</body>\n\n<script type=\"text/javascript\">\n\n    var topics = {};\n    var wsUriC = \"ws://{{req.headers.host}}/ws/door\";\n    var ws;\n    function wsConnectC() {\n        console.log(\"connect\",wsUriC);\n        ws = new WebSocket(wsUriC);\n        ws.onmessage = function(msg) {\n            var line = \"\";\n            console.log(msg.data);\n            var fromPage=JSON.parse(msg.data);\n        }\n        ws.onopen = function() {\n            $(\"#status\").html(\"connected\");\n            console.log(\"connected\");\n        }\n        ws.onclose = function() {\n            $(\"#status\").html(\"not connected\");\n            setTimeout(wsConnectC,1000);\n        }\n    }\n\n\n    function sendMessage(){\n    // send message back to page in simple JSON format\n    // example {“part1”:”Hello”,”part2”:”50”}\n    var toPage='{\"command\":\"activate\"}';\n    ws.send(toPage);\n  } // end sendMessage\n\n</script>\n    \n<style type=\"text/css\">\n    body \n    {\n      padding-top: 40px;\n      padding-bottom: 40px;\n      background-color: #eee;\n    }\n\n    h2 \n    {\n      margin-bottom: 10px;\n      text-align: center    \n    }\n\n    input \n    {\n      margin-bottom: 10px;\n      border-top-left-radius: 0;\n      border-top-right-radius: 0;\n    }\n\n    .form-control \n    {\n      position: relative;\n      height: auto;\n      -webkit-box-sizing: border-box;\n      -moz-box-sizing: border-box;\n      box-sizing: border-box;\n      padding: 10px;\n      font-size: 16px;\n    }\n\n    .form-control:focus \n    {\n      z-index: 2;\n    }\n\n    .alert \n    {\n      margin-top: 20px; \n      text-align: center;\n    }\n</style>","x":312,"y":266,"wires":[["c5772499.9f82f8"]]},{"id":"9c643680.b12cb8","type":"debug","z":"6b7180df.08373","name":"Websocket","active":true,"console":"false","complete":"payload","x":289,"y":41,"wires":[]},{"id":"78f676b5.ec1b48","type":"debug","z":"6b7180df.08373","name":"json","active":true,"console":"false","complete":"payload","x":646,"y":157,"wires":[]},{"id":"f2c9f63f.c1be78","type":"switch","z":"6b7180df.08373","name":"Check Message","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"activate","vt":"str"}],"checkall":"true","outputs":1,"x":441,"y":163,"wires":[["78f676b5.ec1b48","d2b46a38.8bbe28"]]},{"id":"e495340c.2771b8","type":"json","z":"6b7180df.08373","name":"","x":241,"y":152,"wires":[["f2c9f63f.c1be78"]]},{"id":"d2b46a38.8bbe28","type":"link out","z":"6b7180df.08373","name":"To Web Site","links":["763eaf15.b2bd9"],"x":622,"y":211,"wires":[]},{"id":"763eaf15.b2bd9","type":"link in","z":"7114aeff.8fdf8","name":"From Web Site","links":["d2b46a38.8bbe28"],"x":74,"y":177,"wires":[["99b581c3.2449a"]]}]